
.input-field label {
    color: white;
}

   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #26a69a;
   }

   .input-field .prefix{
     color: white;
   }

   input, textarea [type="text, mail"]{
       border-bottom: 1px solid white;
       color: white;
       font-size: 1.5rem;
   }